.clients {
  background-color: var(--medium-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
  margin: 0 auto;
  margin-bottom: 50px;
}
.clients-image-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--animate);
  &:hover,
  &:focus {
    border-color: var(--back-color);
  }
}
.clients-icon {
  fill: #afb1b8;
  transition: fill var(--animate);
  .clients-image-link:hover &,
  .clients-image-link:focus & {
    fill: var(--back-color);
  }
}
