.features {
  padding-bottom: 47px;
}
.features__image {
  width: 270px;
  height: 120px;
  background: var(--small-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__title {
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-color);
  height: 16px;
  width: 270px;
  margin-bottom: 10px;
}
.features__text {
  font-size: var(--main-fs);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
